<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Shop</title>

    <!--CSS References-->
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/contact.css}" type="text/css">

    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <div id="background">
        <input type="checkbox" id="check">
        <div class="header">
            <a id="logo" href="#">Logo</a>

            <div class="nav-links">
                <a href="index">Home</a>
                <a href="about">About</a>
                <a href="jobs">Jobs</a>
                <a href="services">Services</a>
                <a href="contact">Contact</a>
            </div>

            <label for="check">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label>
        </div>

        <div class="content">
            <h1 id="site-title">Contact Us</h1>
            <p id="site-desc">
                Maecenas non justo condimentum, faucibus arcu quis, tempor mi. 
                Maecenas molestie egestas velit, quis tristique ipsum elementum a. In at sollicitudin leo. 
                Proin neque nisi, aliquam posuere pellentesque eget, iaculis consectetur metus. 
                Vivamus scelerisque tortor volutpat orci faucibus rhoncus. Nullam pretium ante ac tincidunt posuere. 
                Morbi rutrum ultrices ipsum at porttitor. Donec eu tellus massa. In fringilla tincidunt leo in suscipit.
            </p>

            <div class="contact">
                <div class="contact-phone">
                    <h2 class="contact-header">Call Us</h2>
                    <a href="tel:9999999999">(999) 999-999</a>
                </div>
                <br>
                <form th:action="@{/sendEmail}" class="contact-email"  method="post">
                    <fieldset id="email-info">
                        <legend><h2 class="contact-header">Send us an email</h2></legend>
                        <div id="all-inputs">
                            <label for="email" class="email-input">Email</label>
                            <input type="text" placeholder="Enter your email" id="email" name="email">
                            
                            <label for="title" class="email-input">Title</label>
                            <input type="text" placeholder="Enter title" id="title" name="title">
                            
                            <label for="message" class="email-input">Enter message</label>
                            <input type="text" placeholder="Enter message" id="message" name="message">

                            <input type="submit">
                        </div>
                        
                    </fieldset>
                    
                </form>
            </div>

            <div id="follow">
                <h4>Follow us!</h4>
                <div class="media-icons">
                    <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                </div> 
            </div>
        </div>

    </div>
</body>
</html>